<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lonejourneyman.buoynow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".BuoyNowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lonejourneyman.buoynow.MainActivity" />
        </activity>
        <activity
            android:name=".settings.BuoySettingsActivity"
            android:label="@string/title_activity_buoy_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lonejourneyman.buoynow.MainActivity" />
        </activity>

        <provider
            android:name=".data.BuoyContentProvider"
            android:authorities="com.example.lonejourneyman.buoynow"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".messaging.BuoyMessagingService" />
        <receiver android:name=".messaging.MessageReadReceiver">
            <intent-filter>
                <action android:name="com.example.lonejourneyman.buoynow.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>
        <receiver android:name=".messaging.MessageReplyReceiver">
            <intent-filter>
                <action android:name="com.example.lonejourneyman.buoynow.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".widget.QuickAddService"
            android:exported="false" />
        <receiver android:name=".widget.QuickAddWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_add_widget_info" />
        </receiver>

        <service android:name=".widget.QuickListService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <receiver android:name=".widget.QuickListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.lonejourneyman.buoynow.action.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_list_widget_info" />
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyCMWEQHzkqmhlxazYbhKH7gOghK5GdBXX0" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMWEQHzkqmhlxazYbhKH7gOghK5GdBXX0" />
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

    </application>

</manifest>